*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lily Script One', cursive;
  text-align: center;
}

.container{
  max-width: 1600px;
  height: 100%;
  margin-top:

}

button{
  margin-top: 1%;
  font-size: 110%;
  border: none;
  width: 40%;
  height: 20%;
  border-radius: 13px;
  cursor: context-menu;

}

button:hover {
  background-color: pink;
  transition: 1s;

}

button:focus {
  outline: none;
}

header {
  font-family: 'Lily Script One', cursive;

}

nav {
  position: fixed;
  margin-top: 0;
  background-color: #edc4ef;
  height: 7%;
  cursor: pointer;

}

.one {
  margin-top: 3.5%;
  margin-left: 3.5%;
}

.two{
  display: inline;
  letter-spacing: 1px;
  margin-top: 3.5%;
  margin-left: 50%;
}

.ux {
  margin-top: 12%;

}

ul{
  list-style: none;
  display: flex;
}

div {
  /*border: solid 0.5px;*/
  margin-bottom: 15px;

}


a {
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #edc4ef;
  margin-right: 10px;

}

footer {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 0;
  background-color: #edc4ef;
  height: 50%;
}

.what {
  margin-right: 15%;
  margin-left: 10%
}

.contact {
  margin-left: 10%;
}
.row::before, .row::after{
  content: "";
  display: table;
  clear: both;
}

[class*="col-"]{
  float: left;
  min-height: 7px;

}

.col-1 {width: 8.333333%;}
.col-2 {width: 16.666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333%;}
.col-8 {width: 66.666667%;}
.col-9 {width: 75%;}
.col-12 {width: 100%;}

.dates {
display: none;
}

@media (min-width:320px) {
  .part-one{
    display: flex;
    margin-top: 0;
  }
  .fa {
    display: none;
  }

  .dates {
  display: inline;

  }

  .one {
    margin-top: 1%;
    font-size: 20px;
  }

  .card {
    width: 30%;
    margin-left: 2.4%;
  }

  .two {
    margin-right: 10%;
    margin-left: 70%;

  }

  .ux {
    margin-top: 3.3%;

  }

  .contact {
    margin-left: 30%;
  }

  ul {
    display: inline-flex;
  }


}
